





<!DOCTYPE html>
<html>
body{background:purple;font-family:arial;}
h2{color:green;}

<h2>Freezy Fruitade</h2>
<p>Welcome to Freezy Fruitade.</p>

<h2 style="background-color:orange">
Board of Directors
</h2>

<h2 style="background-color:green">
Product
</h2>

<h2 style="background-color:blue;color:white">
Testimonial
</h2>

<h2 style="background-color:orange">
Photos
</h2>

<h2 style="background-color:yellow">
Payment
</h2>

<h2 style="background-color:cyan">
Contact
</h2>

<h2 style="background-color:black;color:white">
Q&A
</h2>

</body>
</html>

