html, body {margin: 0px; text-align: center; line-height: normal;
            border-top: solid 1px #FFF}
body, div {box-sizing: border-box;}
img {display: block; border: 0px}
a {text-decoration: none}
.container-fluid {
    background-color: #ca1dca;
}
.jumbotron{
    background-color: rgba(231, 73, 132, 0.44);
    margin: 0;

}
.jumbotron h1 {
    font-size: 100px;
    font-family: 'Allura', cursive;
    
}
.jumbotron h2 {
    font-size: 50px;
    
}
video{
    border: 3px solid purple;
    box-shadow: 10px 0px 10px 0px black;
}

span {
    text-shadow: 10px 0px 10px black;
}

#sm img{
    width: 30px;
    height: 20px;
    display: inline-block;
    box-shadow: 10px 0px 10px 0px black;
}
.col-sm-4 img{
    display: inline;
    width: 90px;
    
}
.col-sm-4{
    border: 2px solid purple;
    background-color: rgba(255, 255, 0, 0.37);
    
}

.row {
    background-color: #c72dc7;
    padding-right: 60px;
    padding-left: 60px;
}
.col-sm-12 img{
    width: 250px;
    height: 400px;
    display: inline-block;
    border: 3px solid purple;
    border-radius: 250px;
    box-shadow: 10px 0px 10px 0px black;
    padding: 3px;
    

}
.col-sm-12{ 
    
  background-color: rgba(255, 215, 0, 0.22);  
}

